.wrapper {
    background-color: #2A4234;
}

.head {
    position: relative;
}

.headImage {
    padding: 109px 0;
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: inherit;
}

.headFlower {
    position: absolute;
}