.wrapper {
    background-image: url('/assets/images/yna/home-small.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    z-index: 999;
    top: 0;
    transition: all 1.1s ease;
    color: #FFF;
}

.wrapper-hide {
    top: -100vh;
}

.wrapper p {
    margin: 0;
}


.top {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('/assets/images/shadow-top.png');
    background-size: cover;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
    background-image: url('/assets/images/shadow-bottom.png');
    background-size: cover;
}

.top .text-title {}

.top .text-bride {}

.top .text-yth {}


.top .text-yth {}

.top img {
    margin: 12px 0;
    width: 58px;
}