@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.cdnfonts.com/css/microsoft-sans-serif');

/* font-family: 'Miama', sans-serif; */
/* font-family: 'Microsoft Sans Serif', sans-serif; */



html,
body {
    padding: 0;
    margin: 0;
    background-color: #2A4234;
    font-family: 'Microsoft Sans Serif', sans-serif;
}